# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd

#misc
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
src/.vs/ga2022/v17/Browse.VC.opendb
src/.vs/ga2022/v17/.suo
src/.vs/ga2022/v17/Browse.VC.db-wal
src/.vs/ga2022/v17/Browse.VC.db-shm
src/.vs/ga2022/v17/ipch/AutoPCH/
src/.vs/ga2022/FileContentIndex

src/x64/Debug/
